<div class="container">
<h1>Wise Quotes</h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <div *ngFor='let quote of quotes;let i = index'>
      <div>
        <h6 id={{i}}>{{quote.name}} {{quote.DateAgoPipe|date}}</h6>
        <button (click)='toggleDetails(i)' class="btn btn-primary">Open</button>
      
      </div>

      <div *ngIf='quote.showDescription'>
          <like-box></like-box>
        <app-quote-detail  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
</div>
</div>