
@import "~bootstrap/dist/css/bootstrap.css";



body {
    background-image: url(https://cdn.pixabay.com/photo/2015/12/01/20/28/fall-1072821_960_720.jpg);
    color :white;
    font-size: 24px;
    background-size: cover;
    }